*.so
*.la
*.lo
*.o
.dirstamp
*.log
*.trs
Makefile
Makefile.in
libtool
tests/pam_openssh_x509_check
autom4te.cache
autoscan.log
config.cache
config.log
config.status
configure.scan
configure
stamp-h1
src/.deps
src/.libs
tests/.deps
build-aux
aclocal.m4
m4

